.radar-chart {
    width: 100%;
    max-width: 600px;
    height: auto;
    background: radial-gradient(circle at center, #EEECFF 0%, #fff 70%);
    border-radius: 50%;
    overflow: visible;
    display: block;
    margin: auto;
    transform: rotate(60deg);
}

.radar-dot {
    fill: #5F4EFF;
    animation: pulse 2s ease-in-out infinite;
    transition: r 0.2s, stroke 0.2s, opacity 0.2s;
}
.selection {
    transform: rotate(-60deg);
}
.card {
    transform: rotate(-60deg);
}

@keyframes pulse {
    0%, 100% {
        r: 2;
        opacity: 0.5;
    }
    50% {
        r: 4;
        opacity: 1;
    }
}
